Repository php-internal/dload, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, tests

feat: rename 'format' to use 'type' attribute in download action
  dload.xml
  dload.xsd
  src/Module/Common/Config/Action/Download.php
  src/Module/Common/Config/Action/Type.php
  src/Module/Downloader/Downloader.php
  src/Module/Repository/Collection/AssetsCollection.php
  tests/Acceptance/DLoadTest.php
Labels: tests

feat(container): add ability to map Enum values; Use Type enum in the Download action config
  src/DLoad.php
  src/Module/Common/Config/Action/Download.php
  src/Module/Common/Internal/Injection/ConfigLoader.php
  src/Module/Downloader/Downloader.php
  tests/Acceptance/DLoadTest.php
Labels: tests

feat(downloader): enhance file extraction logic for different download types
  src/DLoad.php
  src/Module/Downloader/Downloader.php
  tests/Acceptance/DLoadTest.php
Labels: tests

docs: update README
  README.md
Labels: documentation

chore(tests): add acceptance test suite to `composer.json`
  composer.json
Labels: none

tests: remove coverage setting from testing configuration
  .github/workflows/testing.yml
Labels: maintenance

ci: update testing configuration to disable fail-fast and add PHP 8.4
  .github/workflows/testing.yml
Labels: maintenance

chore: update composer.json and README for improved testing and documentation
  README.md
  composer.json
  composer.lock
Labels: documentation

feat: enhance file extraction logic with optional permissions and improve test assertions
  README.md
  composer.json
  composer.lock
  src/DLoad.php
  src/Module/Common/Config/Embed/File.php
  tests/Acceptance/DLoadTest.php
Labels: documentation, tests

refactor(container): improve enum value handling in ConfigLoader with enhanced type conversion and error handling
  src/Module/Common/Internal/Injection/ConfigLoader.php
Labels: none

chore(1.x): release 1.3.0
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.3.0 (#53)
  CHANGELOG.md
  resources/version.json
Labels: documentation

wip
  README-es.md
  README-ru.md
  README-zh.md
  README.md
Labels: documentation

docs: add four translations and guide for translate (use LLM)
  README-es.md
  README-ru.md
  README-zh.md
  docs/guidelines/how-to-use-llm-for-translate-docs.md
Labels: documentation

fix: replace in example placeholder on real promt
  docs/guidelines/how-to-use-llm-for-translate-docs.md
Labels: none

doc: replace eng header in Russian language doc
  README-ru.md
Labels: documentation

doc: replace in example placeholder on real promt
  docs/guidelines/how-to-use-llm-for-translate-docs.md
Labels: none

doc: replace eng header in Russian language doc
  README-ru.md
Labels: documentation

doc: remove [^5] from how-to-use-llm-for-translate-docs.md
  docs/guidelines/how-to-use-llm-for-translate-docs.md
Labels: none

doc:add in guide ISO 639-1 mention
  docs/guidelines/how-to-use-llm-for-translate-docs.md
Labels: none

doc: update README files to enhance language support and improve translation guidelines
  README-es.md
  README-ru.md
  README-zh.md
  README.md
  docs/guidelines/how-to-translate-readme-docs.md
Labels: documentation

doc: remove unnecessary blank lines in Spanish, Russian, and Chinese README files
  README-es.md
  README-ru.md
  README-zh.md
Labels: documentation

chore(1.x): release 1.3.1
  CHANGELOG.md
  resources/version.json
Labels: documentation

fix: clean up temporary downloaded files after extraction
  src/DLoad.php
Labels: none

fix: clean up temporary downloaded files after extraction (#58)
  src/DLoad.php
Labels: none

feat: add `ConfigBuilder` for constructing DLoad XML configuration files
  src/Module/Config/ConfigBuilder.php
Labels: none

feat: add interactive command for initializing DLoad configuration file
  src/Command/Init.php
Labels: none

feat: add guidelines for developing console commands in DLoad
  docs/guidelines/how-to-write-console-command.md
Labels: none

docs: update README files to include interactive configuration setup and command usage
  README-es.md
  README-ru.md
  README-zh.md
  README.md
  bin/dload
Labels: documentation

refactor: update namespaces to use Config\Schema for configuration classes
  src/Command/Get.php
  src/Command/Init.php
  src/Command/ListSoftware.php
  src/Command/Show.php
  src/DLoad.php
  src/Info.php
  src/Module/Binary/BinaryProvider.php
  src/Module/Binary/Internal/BinaryHandle.php
  src/Module/Binary/Internal/BinaryProviderImpl.php
  src/Module/Config/ConfigBuilder.php
  src/Module/Config/Schema/Action/Download.php
  src/Module/Config/Schema/Action/Type.php
  src/Module/Config/Schema/Actions.php
  src/Module/Config/Schema/CustomSoftwareRegistry.php
  src/Module/Config/Schema/Downloader.php
  src/Module/Config/Schema/Embed/Binary.php
  src/Module/Config/Schema/Embed/File.php
  src/Module/Config/Schema/Embed/Repository.php
  src/Module/Config/Schema/Embed/Software.php
  src/Module/Config/Schema/GitHub.php
  src/Module/Downloader/Downloader.php
  src/Module/Downloader/Internal/BinaryExistenceChecker.php
  src/Module/Downloader/Internal/DownloadContext.php
  src/Module/Downloader/SoftwareCollection.php
  src/Module/Downloader/Task/DownloadTask.php
  src/Module/Repository/Internal/GitHub/Factory.php
  src/Module/Repository/RepositoryFactory.php
  src/Module/Repository/RepositoryProvider.php
  tests/Acceptance/DLoadTest.php
  tests/Unit/Module/Repository/RepositoryProviderTest.php
  tests/Unit/Module/Repository/Stub/RepositoryFactoryStub.php
Labels: tests

fix: update trap asset pattern
  composer.lock
  resources/software.json
Labels: none

chore: update psalm baseline
  psalm-baseline.xml
  src/Command/Init.php
Labels: tests

style: lint MD files
  README-es.md
  README-ru.md
  README-zh.md
  README.md
  docs/guidelines/how-to-translate-readme-docs.md
  docs/guidelines/how-to-write-console-command.md
  docs/guidelines/how-to-write-php-code-best-practices.md
  docs/guidelines/how-to-write-tests.md
Labels: documentation

docs: correct syntax in post-update-cmd example in README
  README.md
Labels: documentation

chore(1.x): release 1.4.0
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.4.0 (#56)
  CHANGELOG.md
  resources/version.json
Labels: documentation

fix: correct config injection path in ObjectContainer
  src/Module/Common/Internal/ObjectContainer.php
Labels: none

fix: correct config injection path in ObjectContainer (#61)
  src/Module/Common/Internal/ObjectContainer.php
Labels: none

chore(1.x): release 1.4.1
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.4.1 (#62)
  CHANGELOG.md
  resources/version.json
Labels: documentation

.github/labeler.yml:

---

# this file is for the labeler workflow job
# Documentation https://github.com/marketplace/actions/labeler

"bug":
  - head-branch: ['^bug', '^fix', 'bug', 'fix']

"enhancement":
  - head-branch: ['^feature', '^feat', 'feature']

"documentation":
  - changed-files:
      - any-glob-to-any-file: ['.github/*.md', './*.md']

"maintenance":
  - changed-files:
      - any-glob-to-any-file: ['.github/**/*']

"tests":
  - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'phpunit*', 'psalm*']

...
