Repository php-internal/dload, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, tests

.github/labeler.yml:

---

# this file is for the labeler workflow job
# Documentation https://github.com/marketplace/actions/labeler

"bug":
  - head-branch: ['^bug', '^fix', 'bug', 'fix']

"enhancement":
  - head-branch: ['^feature', '^feat', 'feature']

"documentation":
  - changed-files:
      - any-glob-to-any-file: ['.github/*.md', './*.md']

"maintenance":
  - changed-files:
      - any-glob-to-any-file: ['.github/**/*']

"tests":
  - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'phpunit*', 'psalm*']

...

refactor(Velox): Use TOML library to work with Velox config (#81)
  composer.json
  composer.lock
  src/Module/Velox/Internal/Config/Pipeline/Processor/BaseTemplateProcessor.php
  src/Module/Velox/Internal/Config/Pipeline/TomlData.php
  tests/Unit/Module/Velox/Internal/Config/Pipeline/TomlDataTest.php
Labels: tests

chore(1.x): release 1.6.4
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.6.4 (#82)
  CHANGELOG.md
  resources/version.json
Labels: documentation

fix(Velox): Fix typo in dependencies checker
  src/Module/Velox/Internal/DependencyChecker.php
Labels: none

chore(1.x): release 1.6.5
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.6.5 (#83)
  CHANGELOG.md
  resources/version.json
Labels: documentation

feat(Velox): Support `replace` option
  src/Module/Common/FileSystem/Path.php
  src/Module/Config/Schema/Action/Velox/Plugin.php
  src/Module/Velox/Internal/Config/Pipeline/Processor/BuildMixinsProcessor.php
  src/Module/Velox/Internal/Config/Pipeline/Processor/RemoteApiProcessor.php
Labels: none

style(php-cs-fixer): fix coding standards
  src/Module/Velox/Internal/Config/Pipeline/Processor/RemoteApiProcessor.php
Labels: none

chore(Velox): Update XML schema
  dload.xsd
Labels: none

chore(1.x): release 1.7.0
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.7.0 (#85)
  CHANGELOG.md
  resources/version.json
Labels: documentation

deps: Update dependencies
  .github/workflows/build-phar-release.yml
  composer.json
Labels: maintenance

chore(1.x): release 1.7.1
  CHANGELOG.md
  resources/version.json
Labels: documentation

deps: Update dependencies
  .github/workflows/build-phar-release.yml
  .github/workflows/buld-bin-release.yml
  .github/workflows/coding-standards.yml
  .github/workflows/security.yml
  .github/workflows/static-analysis.yml
  .github/workflows/testing.yml
  composer.json
  composer.lock
Labels: maintenance

chore(1.x): release 1.7.1
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.7.1 (#88)
  CHANGELOG.md
  resources/version.json
Labels: documentation

refactor: Use `internal/path` instead of local implementation
  .gitattributes
  composer.json
  composer.lock
  src/Command/Init.php
  src/Command/Show.php
  src/DLoad.php
  src/Module/Binary/Binary.php
  src/Module/Binary/BinaryProvider.php
  src/Module/Binary/Internal/AbstractBinary.php
  src/Module/Binary/Internal/BinaryExecutor.php
  src/Module/Binary/Internal/BinaryProviderImpl.php
  src/Module/Binary/Internal/GlobalBinary.php
  src/Module/Binary/Internal/LocalBinary.php
  src/Module/Common/DloadResult.php
  src/Module/Common/FileSystem/FS.php
  src/Module/Common/FileSystem/Path.php
  src/Module/Downloader/Downloader.php
  src/Module/Downloader/Internal/DownloadContext.php
  src/Module/Velox/Internal/Config/Pipeline/ConfigContext.php
  src/Module/Velox/Internal/Config/Pipeline/Processor/BuildMixinsProcessor.php
  src/Module/Velox/Internal/Config/Pipeline/Processor/LocalFileProcessor.php
  src/Module/Velox/Internal/Config/Validator.php
  src/Module/Velox/Internal/ConfigBuilder.php
  src/Module/Velox/Internal/DependencyChecker.php
  src/Module/Velox/Internal/VeloxBuilder.php
  tests/Acceptance/DLoadTest.php
  tests/Unit/Module/Common/FileSystem/PathTest.php
  tests/Unit/Module/Velox/Internal/Config/Pipeline/ConfigPipelineTest.php
  tests/Unit/Module/Velox/Internal/Config/Pipeline/Processor/LocalFileProcessorTest.php
Labels: tests

chore: Disable `github` changelog-type configuration from release-please
  .github/.release-please-config.json
Labels: maintenance

chore(1.x): release 1.7.2
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.7.2 (#89)
  CHANGELOG.md
  resources/version.json
Labels: documentation

Stop using deprecated Command::getDefaultName()
  bin/dload
  src/Command/Base.php
Labels: none

cs: Fix code style
  src/Command/Base.php
Labels: none

fix: Stop using deprecated `Command::getDefaultName()` (#90)
  bin/dload
  src/Command/Base.php
Labels: none

chore(1.x): release 1.7.3
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore: Fix funding link; update composer.lock
  README-es.md
  README-ru.md
  README-zh.md
  README.md
  composer.lock
Labels: documentation

chore(1.x): release 1.7.3 (#91)
  CHANGELOG.md
  resources/version.json
Labels: documentation

add support for Gitlab
  README.md
  src/Bootstrap.php
  src/Module/Config/Schema/GitLab.php
  src/Module/Repository/Internal/GitLab/Api/Client.php
  src/Module/Repository/Internal/GitLab/Api/RepositoryApi.php
  src/Module/Repository/Internal/GitLab/Api/Response/AssetInfo.php
  src/Module/Repository/Internal/GitLab/Api/Response/ReleaseInfo.php
  src/Module/Repository/Internal/GitLab/Api/Response/RepositoryInfo.php
  src/Module/Repository/Internal/GitLab/Exception/GitLabRateLimitException.php
  src/Module/Repository/Internal/GitLab/Factory.php
  src/Module/Repository/Internal/GitLab/GitLabAsset.php
  src/Module/Repository/Internal/GitLab/GitLabRelease.php
  src/Module/Repository/Internal/GitLab/GitLabRepository.php
Labels: documentation

fix: download
  README.md
  src/Module/Repository/Internal/GitLab/Api/Client.php
  src/Module/Repository/Internal/GitLab/Api/RepositoryApi.php
  src/Module/Repository/Internal/GitLab/Api/Response/AssetInfo.php
  src/Module/Repository/Internal/GitLab/GitLabAsset.php
Labels: documentation

fix cs
  src/Module/Repository/Internal/GitLab/Api/Client.php
  src/Module/Repository/Internal/GitLab/Api/RepositoryApi.php
  src/Module/Repository/Internal/GitLab/GitLabAsset.php
Labels: none

readme fi
  README.md
Labels: documentation

fix: rate limit exception handling
  src/Module/Repository/Internal/GitLab/Api/Client.php
  src/Module/Repository/Internal/GitLab/Exception/GitLabRateLimitException.php
Labels: none

Use `direct_asset_url` for assets if exists
  src/Module/Repository/Internal/GitLab/Api/RepositoryApi.php
  src/Module/Repository/Internal/GitLab/Api/Response/AssetInfo.php
  src/Module/Repository/Internal/GitLab/Api/Response/ReleaseInfo.php
Labels: none

feat: Add support for Gitlab (#92)
  README.md
  src/Bootstrap.php
  src/Module/Config/Schema/GitLab.php
  src/Module/Repository/Internal/GitLab/Api/Client.php
  src/Module/Repository/Internal/GitLab/Api/RepositoryApi.php
  src/Module/Repository/Internal/GitLab/Api/Response/AssetInfo.php
  src/Module/Repository/Internal/GitLab/Api/Response/ReleaseInfo.php
  src/Module/Repository/Internal/GitLab/Api/Response/RepositoryInfo.php
  src/Module/Repository/Internal/GitLab/Exception/GitLabRateLimitException.php
  src/Module/Repository/Internal/GitLab/Factory.php
  src/Module/Repository/Internal/GitLab/GitLabAsset.php
  src/Module/Repository/Internal/GitLab/GitLabRelease.php
  src/Module/Repository/Internal/GitLab/GitLabRepository.php
Labels: documentation

chore(1.x): release 1.8.0
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.8.0 (#93)
  CHANGELOG.md
  resources/version.json
Labels: documentation

docs(Readme): Sync translations with GitLab support changes
  README-es.md
  README-ru.md
  README-zh.md
  README.md
Labels: documentation

feat: Add DoltgreSQL entry to `software.json`
  resources/software.json
Labels: none

feat: add DoltgreSQL entry (#95)
  resources/software.json
Labels: none

chore(1.x): release 1.9.0
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.9.0 (#94)
  CHANGELOG.md
  resources/version.json
Labels: documentation
