Repository php-internal/dload, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, tests

feat: separate HTTP Client module
  composer.json
  composer.lock
  src/Module/HttpClient/Factory.php
  src/Module/HttpClient/Method.php
  src/Module/Repository/Internal/GitHub/Factory.php
  src/Module/Repository/Internal/GitHub/GitHubAsset.php
  src/Module/Repository/Internal/GitHub/GitHubRelease.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
Labels: none

tests: remove broken test
  tests/Unit/Module/Repository/Internal/GitHub/GitHubRepositoryLazyLoadingTest.php
Labels: tests

refactor: use GitHub API Token in requests to GitHub; Add GitHub API layer; Separate GitHub Client that
  src/Module/Repository/Internal/GitHub/Api/Client.php
  src/Module/Repository/Internal/GitHub/Api/RepositoryApi.php
  src/Module/Repository/Internal/GitHub/Api/Response/AssetInfo.php
  src/Module/Repository/Internal/GitHub/Api/Response/ReleaseInfo.php
  src/Module/Repository/Internal/GitHub/Api/Response/RepositoryInfo.php
  src/Module/Repository/Internal/GitHub/Exception/GitHubRateLimitException.php
  src/Module/Repository/Internal/GitHub/Factory.php
  src/Module/Repository/Internal/GitHub/GitHubAsset.php
  src/Module/Repository/Internal/GitHub/GitHubRelease.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
Labels: none

refactor: extract interface from `HttpFactory`
  src/Bootstrap.php
  src/Module/HttpClient/Factory.php
  src/Module/HttpClient/Internal/NyholmFactoryImpl.php
Labels: none

tests: cover `GitHub\Api\Client`
  tests/Unit/Module/Repository/Internal/GitHub/Api/ClientTest.php
  tests/Unit/Module/Repository/Internal/GitHub/Stub/ClientStub.php
  tests/Unit/Module/Repository/Internal/GitHub/Stub/GitHubConfigStub.php
  tests/Unit/Module/Repository/Internal/GitHub/Stub/HttpFactoryStub.php
  tests/Unit/Module/Repository/Internal/GitHub/Stub/ResponseStub.php
Labels: tests

chore: cleanup
  src/Module/Repository/Internal/GitHub/Api/RepositoryApi.php
  src/Module/Repository/Internal/GitHub/GitHubAsset.php
  src/Module/Repository/Internal/GitHub/GitHubRelease.php
Labels: none

chore: update psalm baseline
  psalm-baseline.xml
Labels: tests

chore: add nyholm/psr7 dependency
  composer.json
  composer.lock
Labels: none

refactor: update request method to accept Method enum; simplify code
  src/Module/Repository/Internal/GitHub/Api/Client.php
  src/Module/Repository/Internal/GitHub/Api/RepositoryApi.php
  src/Module/Repository/Internal/GitHub/GitHubAsset.php
  src/Module/Repository/Internal/GitHub/GitHubRelease.php
  src/Module/Repository/Internal/Release.php
Labels: none

chore(1.x): release 1.5.0
  CHANGELOG.md
  resources/version.json
Labels: documentation

feat: add Velox configuration into Software Registry
  resources/software.json
Labels: none

feat: add Velox build action and plugin configuration
  dload.xsd
  src/Module/Config/Schema/Action/Velox.php
  src/Module/Config/Schema/Action/Velox/Plugin.php
Labels: none

feat: add Velox API draft
  src/Module/Velox/ApiClient.php
  src/Module/Velox/Builder.php
  src/Module/Velox/Exception/Api.php
  src/Module/Velox/Exception/Build.php
  src/Module/Velox/Exception/Config.php
  src/Module/Velox/Exception/Dependency.php
  src/Module/Velox/Result.php
  src/Module/Velox/Task.php
Labels: none

feat: separate Task Manager into `Task` module
  src/DLoad.php
  src/Module/Config/Schema/Action/Velox.php
  src/Module/Config/Schema/Actions.php
  src/Module/Downloader/Downloader.php
  src/Module/Downloader/Internal/DownloadContext.php
  src/Module/Downloader/Task/DownloadTask.php
  src/Module/Task/Manager.php
  src/Module/Task/Progress.php
  src/Module/Velox/Builder.php
  src/Module/Velox/Task.php
Labels: none

feat(Container): enhance binding method to support class name aliases
  src/Bootstrap.php
  src/Module/Common/Internal/ObjectContainer.php
  src/Service/Container.php
Labels: none

feat(Binary): implement GlobalBinary for system binaries and rename BinaryHandle to LocalBinary
  src/Command/Show.php
  src/DLoad.php
  src/Module/Binary/BinaryProvider.php
  src/Module/Binary/Internal/BinaryProviderImpl.php
  src/Module/Binary/Internal/GlobalBinary.php
  src/Module/Binary/Internal/LocalBinary.php
Labels: none

feat(FileSystem): add FS utility class for file system operations
  src/Module/Common/FileSystem/FS.php
  src/Module/Downloader/Downloader.php
Labels: none

feat(DependencyChecker): add dependency checker for Velox build requirements
  src/Module/Config/Schema/Downloader.php
  src/Module/Velox/Internal/DependencyChecker.php
Labels: none

feat(Binary): refactor binary classes to use `AbstractBinary` and add `Binary::execute()` method
  src/Module/Binary/Binary.php
  src/Module/Binary/Internal/AbstractBinary.php
  src/Module/Binary/Internal/BinaryProviderImpl.php
  src/Module/Binary/Internal/GlobalBinary.php
  src/Module/Binary/Internal/LocalBinary.php
  src/Module/Common/FileSystem/FS.php
Labels: none

feat(BinaryExecutor, DependencyChecker): add logging for command execution and enhance version checks
  src/Module/Binary/Internal/BinaryExecutor.php
  src/Module/Velox/Internal/DependencyChecker.php
Labels: none

refactor(Binary): update execute methods to return output as arrays and add exception handling
  src/Module/Binary/Binary.php
  src/Module/Binary/Internal/AbstractBinary.php
  src/Module/Binary/Internal/BinaryExecutor.php
Labels: none

refactor(DependencyChecker): enhance binary version checks with improved logging and exception handling
  src/Module/Velox/Internal/DependencyChecker.php
Labels: none

refactor(LocalBinary): store absolute path for binary in constructor
  src/Module/Binary/Internal/LocalBinary.php
Labels: none

refactor(FS, Path): update parameter types for mkdir and add file/directory removal methods
  src/Module/Binary/Binary.php
  src/Module/Common/FileSystem/FS.php
  src/Module/Common/FileSystem/Path.php
Labels: none

feat(VeloxBuilder): implement basic builder with local config support and binary installation
  src/Module/Velox/Builder.php
  src/Module/Velox/Internal/VeloxBuilder.php
Labels: none

feat(Build): add custom build command for Velox with enhanced logging and error handling
  src/Bootstrap.php
  src/Command/Build.php
  src/Module/Binary/Internal/BinaryExecutor.php
  src/Module/Binary/Internal/GlobalBinary.php
  src/Module/Velox/Internal/DependencyChecker.php
  src/Module/Velox/Internal/VeloxBuilder.php
Labels: none

feat(Manager): enhance task management with promise support and deferred resolution
  src/Module/Task/Manager.php
Labels: none

feat(DLoad): enhance download task with promise support and introduce DloadResult class
  src/DLoad.php
  src/Module/Common/DloadResult.php
Labels: none

feat(DependencyChecker): implement Velox binary download logic with version constraint checks
  bin/dload
  src/Module/Velox/Internal/DependencyChecker.php
Labels: none

feat(VeloxBuilder): modify error handling to return rejected promise on build failure
  src/Module/Velox/Internal/VeloxBuilder.php
Labels: none

feat(DLoad): add binary-path attribute to specify RoadRunner binary location
  dload.xsd
Labels: none

chore: cleanup; fix psalm issues
  composer.lock
  psalm-baseline.xml
  psalm.xml
  src/Command/Build.php
  src/DLoad.php
  src/Module/Binary/BinaryVersion.php
  src/Module/Common/FileSystem/Path.php
  src/Module/Common/Internal/ObjectContainer.php
  src/Module/Task/Manager.php
  src/Module/Velox/Internal/DependencyChecker.php
  src/Module/Velox/Internal/VeloxBuilder.php
  src/Module/Velox/Result.php
  src/Module/Velox/Task.php
Labels: tests

style(php-cs-fixer): fix coding standards
  src/Command/Build.php
  src/Module/Downloader/SoftwareCollection.php
  src/Module/Velox/Internal/VeloxBuilder.php
Labels: none

docs(readme): update README files with new sections for building custom RoadRunner and Velox configuration
  README-es.md
  README-ru.md
  README-zh.md
  README.md
Labels: documentation

docs(readme): improve Spanish and Russian README translations for clarity and consistency
  README-es.md
  README-ru.md
  README-zh.md
  docs/guidelines/how-to-translate-readme-docs.md
Labels: documentation

fix(DLoad): initialize variables before use in binary extraction loop
  src/DLoad.php
Labels: none

feat(velox): implement configuration strategies for local, remote, and hybrid setups, add ConfigBuilder
  src/Module/Velox/Internal/Config/Strategy.php
  src/Module/Velox/Internal/Config/Strategy/Hybrid.php
  src/Module/Velox/Internal/Config/Strategy/Local.php
  src/Module/Velox/Internal/Config/Strategy/Remote.php
  src/Module/Velox/Internal/Config/TomlMerger.php
  src/Module/Velox/Internal/Config/Validator.php
  src/Module/Velox/Internal/ConfigBuilder.php
  src/Module/Velox/Internal/VeloxBuilder.php
Labels: none

refactor(velox): implement pipeline-based configuration processing with multiple sources
  src/Module/Velox/Internal/Config/ConfigPipelineBuilder.php
  src/Module/Velox/Internal/Config/Pipeline/ConfigContext.php
  src/Module/Velox/Internal/Config/Pipeline/ConfigPipeline.php
  src/Module/Velox/Internal/Config/Pipeline/ConfigProcessor.php
  src/Module/Velox/Internal/Config/Pipeline/Processor/BaseTemplateProcessor.php
  src/Module/Velox/Internal/Config/Pipeline/Processor/BuildMixinsProcessor.php
  src/Module/Velox/Internal/Config/Pipeline/Processor/GitHubTokenProcessor.php
  src/Module/Velox/Internal/Config/Pipeline/Processor/LocalFileProcessor.php
  src/Module/Velox/Internal/Config/Pipeline/Processor/RemoteApiProcessor.php
  src/Module/Velox/Internal/Config/Pipeline/TomlData.php
  src/Module/Velox/Internal/Config/Strategy/Hybrid.php
  src/Module/Velox/Internal/Config/Strategy/Local.php
  src/Module/Velox/Internal/Config/Strategy/Remote.php
  src/Module/Velox/Internal/ConfigBuilder.php
  tests/Unit/Module/Velox/Internal/Config/Pipeline/TomlDataTest.php
Labels: tests

test(velox): add unit tests for `ConfigPipeline` processing and context handling
  tests/Unit/Module/Velox/Internal/Config/Pipeline/ConfigPipelineTest.php
Labels: tests

refactor(velox): reorder parameters in ConfigContext constructor and related methods
  src/Module/Velox/Internal/Config/Pipeline/ConfigContext.php
  tests/Unit/Module/Velox/Internal/Config/Pipeline/ConfigPipelineTest.php
Labels: tests

.github/labeler.yml:

---

# this file is for the labeler workflow job
# Documentation https://github.com/marketplace/actions/labeler

"bug":
  - head-branch: ['^bug', '^fix', 'bug', 'fix']

"enhancement":
  - head-branch: ['^feature', '^feat', 'feature']

"documentation":
  - changed-files:
      - any-glob-to-any-file: ['.github/*.md', './*.md']

"maintenance":
  - changed-files:
      - any-glob-to-any-file: ['.github/**/*']

"tests":
  - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'phpunit*', 'psalm*']

...
