Repository php-internal/dload, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, tests

.github/labeler.yml:

---

# this file is for the labeler workflow job
# Documentation https://github.com/marketplace/actions/labeler

"bug":
  - head-branch: ['^bug', '^fix', 'bug', 'fix']

"enhancement":
  - head-branch: ['^feature', '^feat', 'feature']

"documentation":
  - changed-files:
      - any-glob-to-any-file: ['.github/*.md', './*.md']

"maintenance":
  - changed-files:
      - any-glob-to-any-file: ['.github/**/*']

"tests":
  - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'phpunit*', 'psalm*']

...

ci: fix phar related issues
  .github/workflows/testing.yml
  box.json.dist
Labels: maintenance

chore(master): release 1.0.0-alpha
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(master): release 1.0.0-alpha
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(master): update release version and changelog
  CHANGELOG.md
  resources/version.json
Labels: documentation

ci(phar): add symfony/console as required dependency; lint composer.json
  composer.json
  composer.lock
Labels: none

ci(psalm): update baseline
  psalm-baseline.xml
Labels: tests

chore: update metafiles
  .editorconfig
  composer.lock
Labels: none

chore: init context.yaml and prompts.yaml
  context.yaml
  resources/prompts.yaml
Labels: none

docs: add prompt for generating class docs Cover classes: SoftwareCollection, Software, TaskManager
  context.yaml
  resources/prompts.yaml
  resources/prompts/cover-class-by-docs.yaml
  src/Module/Common/Config/Embed/Software.php
  src/Module/Downloader/SoftwareCollection.php
  src/Module/Downloader/TaskManager.php
Labels: none

docs: cover Services with comments
  resources/prompts/cover-class-by-docs.yaml
  src/Service/Container.php
  src/Service/Destroyable.php
  src/Service/Factoriable.php
  src/Service/Logger.php
Labels: none

docs: cover Console commands with comments
  resources/prompts/cover-class-by-docs.yaml
  src/Command/Base.php
  src/Command/Get.php
  src/Command/ListSoftware.php
Labels: none

docs: cover Archive module with comments
  resources/prompts/cover-class-by-docs.yaml
  src/Module/Archive/Archive.php
  src/Module/Archive/ArchiveFactory.php
  src/Module/Archive/Exception/ArchiveException.php
  src/Module/Archive/Internal/Archive.php
  src/Module/Archive/Internal/PharArchive.php
  src/Module/Archive/Internal/PharAwareArchive.php
  src/Module/Archive/Internal/TarPharArchive.php
  src/Module/Archive/Internal/ZipPharArchive.php
Labels: none

docs: cover Container implementation and common enums with docs
  resources/prompts/cover-class-by-docs.yaml
  src/Bootstrap.php
  src/Command/Base.php
  src/DLoad.php
  src/Module/Archive/Exception/ArchiveException.php
  src/Module/Common/Architecture.php
  src/Module/Common/Internal/Attribute/ConfigAttribute.php
  src/Module/Common/Internal/Attribute/Env.php
  src/Module/Common/Internal/Attribute/InputArgument.php
  src/Module/Common/Internal/Attribute/InputOption.php
  src/Module/Common/Internal/Attribute/PhpIni.php
  src/Module/Common/Internal/Attribute/XPath.php
  src/Module/Common/Internal/Attribute/XPathEmbedList.php
  src/Module/Common/Internal/Injection/ConfigLoader.php
  src/Module/Common/Internal/ObjectContainer.php
  src/Module/Common/OperatingSystem.php
  src/Module/Common/Stability.php
  src/Service/Container.php
  src/Service/Destroyable.php
  src/Service/Factoriable.php
Labels: none

docs: cover configs and inputs in Common module
  resources/prompts/cover-class-by-docs.yaml
  src/Module/Common/Config/Action/Download.php
  src/Module/Common/Config/Actions.php
  src/Module/Common/Config/CustomSoftwareRegistry.php
  src/Module/Common/Config/Downloader.php
  src/Module/Common/Config/Embed/File.php
  src/Module/Common/Config/Embed/Repository.php
  src/Module/Common/Config/Embed/Software.php
  src/Module/Common/Config/GitHub.php
  src/Module/Common/Input/Build.php
  src/Module/Common/Input/Destination.php
Labels: none

docs: cover Downloader module with docs.
  resources/prompts/cover-class-by-docs.yaml
  src/Module/Common/Config/CustomSoftwareRegistry.php
  src/Module/Downloader/Downloader.php
  src/Module/Downloader/Internal/DownloadContext.php
  src/Module/Downloader/Progress.php
  src/Module/Downloader/SoftwareCollection.php
  src/Module/Downloader/Task/DownloadResult.php
  src/Module/Downloader/Task/DownloadTask.php
Labels: none

docs: cover Repository module with docs.
  resources/prompts/cover-class-by-docs.yaml
  src/Module/Repository/AssetInterface.php
  src/Module/Repository/Collection/AssetsCollection.php
  src/Module/Repository/Collection/CompositeRepository.php
  src/Module/Repository/Collection/ReleasesCollection.php
  src/Module/Repository/Internal/Collection.php
  src/Module/Repository/ReleaseInterface.php
  src/Module/Repository/RepositoryInterface.php
  src/Module/Repository/RepositoryProvider.php
Labels: none

docs: improve docs for all the existing classes
  src/Bootstrap.php
  src/Command/Get.php
  src/Command/ListSoftware.php
  src/DLoad.php
  src/Module/Repository/AssetInterface.php
  src/Module/Repository/ReleaseInterface.php
  src/Module/Repository/RepositoryInterface.php
  src/Service/Container.php
  src/Service/Factoriable.php
Labels: none

chore(ctx): add modules API context
  context.yaml
Labels: none

maintenance: update dependencies; remove pest, use phpunit instead; remove phpstan; update CI actions
  .gitattributes
  .github/workflows/apply-labels.yml
  .github/workflows/build-phar-release.yml
  .github/workflows/coding-standards.yml
  .github/workflows/security.yml
  .github/workflows/static-analysis.yml
  .github/workflows/testing.yml
  .php-cs-fixer.dist.php
  Makefile
  bin/dload
  box.json.dist
  composer.json
  composer.lock
  pest.xml.dist
  phpunit.xml.dist
  psalm-baseline.xml
  psalm.xml
  src/Info.php
  src/Module/Archive/ArchiveFactory.php
  src/Module/Archive/Exception/ArchiveException.php
  src/Module/Archive/Internal/PharArchive.php
  src/Module/Archive/Internal/PharAwareArchive.php
  src/Module/Archive/Internal/TarPharArchive.php
  src/Module/Archive/Internal/ZipPharArchive.php
  src/Module/Common/Internal/Injection/ConfigLoader.php
  src/Module/Repository/Collection/CompositeRepository.php
  src/Module/Repository/Internal/Collection.php
  src/Module/Repository/Internal/GitHub/GitHubAsset.php
  src/Module/Repository/Internal/GitHub/GitHubRelease.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
  src/Module/Repository/Internal/Release.php
  tests/Arch/ArchTest.php
  tests/Arch/DebugTest.php
Labels: maintenance, tests

chore(ctx): add testing guideline
  context.yaml
  docs/guidelines/how-to-write-tests.md
Labels: none

tests(archive): cover Archive module API
  tests/Unit/Module/Archive/API/ArchiveExceptionTest.php
  tests/Unit/Module/Archive/API/ArchiveFactoryTest.php
  tests/Unit/Module/Archive/API/ArchiveTest.php
  tests/Unit/Module/Archive/Stub/ArchiveFixtureGenerator.php
  tests/Unit/Module/Archive/Stub/TestArchive.php
Labels: tests

tests(archive): add integration tests
  phpunit.xml.dist
  tests/Integration/Module/Archive/ArchiveIntegrationTest.php
Labels: tests

tests(archive): add unit tests for internal
  context.yaml
  tests/Unit/Module/Archive/Internal/ArchiveTest.php
  tests/Unit/Module/Archive/Internal/PharAwareArchiveTest.php
  tests/Unit/Module/Archive/Internal/TarPharArchiveTest.php
  tests/Unit/Module/Archive/Internal/ZipPharArchiveTest.php
Labels: tests

tests(repository): cover ReleasesCollection class
  docs/guidelines/how-to-write-tests.md
  src/Module/Repository/Collection/ReleasesCollection.php
  tests/Unit/Module/Repository/ReleasesCollectionTest.php
  tests/Unit/Module/Repository/Stub/AssetStub.php
  tests/Unit/Module/Repository/Stub/ReleaseStub.php
  tests/Unit/Module/Repository/Stub/RepositoryStub.php
Labels: tests

tests(repository): cover AssetsCollection class
  tests/Unit/Module/Repository/AssetsCollectionTest.php
Labels: tests

feat(repository): add `RepositoryFactory` interface to improve extensibility
  src/Bootstrap.php
  src/Module/Downloader/Downloader.php
  src/Module/Repository/Collection/CompositeRepository.php
  src/Module/Repository/Internal/GitHub/Factory.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
  src/Module/Repository/Internal/Release.php
  src/Module/Repository/ReleaseInterface.php
  src/Module/Repository/Repository.php
  src/Module/Repository/RepositoryFactory.php
  src/Module/Repository/RepositoryProvider.php
  tests/Unit/Module/Repository/ReleasesCollectionTest.php
  tests/Unit/Module/Repository/RepositoryProviderTest.php
  tests/Unit/Module/Repository/Stub/Collection/ReleasesCollectionStub.php
  tests/Unit/Module/Repository/Stub/ReleaseStub.php
  tests/Unit/Module/Repository/Stub/RepositoryFactoryStub.php
  tests/Unit/Module/Repository/Stub/RepositoryStub.php
Labels: tests

tests(repository): fix tests
  tests/Unit/Module/Repository/AssetsCollectionTest.php
  tests/Unit/Module/Repository/ReleasesCollectionTest.php
  tests/Unit/Module/Repository/Stub/Collection/ReleasesCollectionStub.php
  tests/Unit/Module/Repository/Stub/ReleaseStub.php
  tests/Unit/Module/Repository/Stub/RepositoryStub.php
Labels: tests

style(php-cs-fixer): fix coding standards
  tests/Unit/Module/Repository/ReleasesCollectionTest.php
  tests/Unit/Module/Repository/Stub/RepositoryStub.php
Labels: tests

tests: remove phpunit slow-test-detector plugin
  composer.json
  composer.lock
  phpunit.xml.dist
Labels: tests

tests(phpunit): fix cc config
  composer.json
  phpunit.xml.dist
  src/Module/Repository/Collection/AssetsCollection.php
Labels: tests

cs(yaml): fix context files
  context.yaml
  resources/prompts.yaml
  resources/prompts/cover-class-by-docs.yaml
Labels: none

cs(markdown): disable markdown linter for `docs` folder
  .github/workflows/coding-standards.yml
Labels: maintenance

feat(repository): add Paginator and CachedGenerator. To make lazy collections in the future
  src/Module/Repository/Internal/CachedGenerator.php
  src/Module/Repository/Internal/Paginator.php
  tests/Module/Repository/Internal/PaginatorTest.php
  tests/Unit/Module/Repository/Internal/CachedGeneratorTest.php
Labels: tests

feat(repository): make base base Collection and GitHubRepository lazy
  src/Module/Repository/Collection/CompositeRepository.php
  src/Module/Repository/Internal/CachedGenerator.php
  src/Module/Repository/Internal/Collection.php
  src/Module/Repository/Internal/GitHub/GitHubRelease.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
  src/Module/Repository/Internal/Paginator.php
  tests/Unit/Module/Repository/Internal/CollectionTest.php
  tests/Unit/Module/Repository/Internal/GitHub/GitHubRepositoryLazyLoadingTest.php
  tests/Unit/Module/Repository/Internal/PaginatorTest.php
Labels: tests

feat(repository): integrate lazy releases page loading
  src/Module/Common/Internal/ObjectContainer.php
  src/Module/Downloader/Downloader.php
  src/Module/Repository/Collection/ReleasesCollection.php
  src/Module/Repository/Internal/Collection.php
  tests/Unit/Module/Repository/Internal/CollectionTest.php
Labels: tests

tests(psalm): update baseline
  psalm-baseline.xml
  tests/Unit/InfoTest.php
Labels: tests

docs(ctx): add guide how to write PHP code
  docs/guidelines/how-to-write-php-code-best-practices.md
Labels: none

feat: add `binary` option to software. dload now checks existing binaries before downloading
  dload.xml
  docs/guidelines/how-to-write-php-code-best-practices.md
  resources/software.json
  src/Command/Get.php
  src/DLoad.php
  src/Module/Common/Config/Embed/Software.php
  src/Module/Common/OperatingSystem.php
  src/Module/Downloader/Internal/BinaryExistenceChecker.php
Labels: none

chore: also extract binary if there are no file definitions
  docs/guidelines/how-to-write-tests.md
  src/DLoad.php
Labels: none

style(php-cs-fixer): fix coding standards
  src/DLoad.php
Labels: none
