Repository php-internal/dload, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, tests

test(velox): add unit tests for LocalFileProcessor handling TOML configuration files
  tests/Unit/Module/Velox/Internal/Config/Pipeline/Processor/LocalFileProcessorTest.php
Labels: tests

feat(velox): enhance TOML serialization with support for nested sections and inline arrays
  src/Module/Velox/Internal/Config/Pipeline/TomlData.php
  src/Module/Velox/Internal/ConfigBuilder.php
  tests/Unit/Module/Velox/Internal/Config/Pipeline/TomlDataTest.php
Labels: tests

feat(velox): implement BuildRoadRunner API client and update configuration processing
  src/Bootstrap.php
  src/Module/Velox/ApiClient.php
  src/Module/Velox/Internal/Client/BuildRoadRunner.php
  src/Module/Velox/Internal/Config/ConfigPipelineBuilder.php
  src/Module/Velox/Internal/Config/Pipeline/Processor/GitHubTokenProcessor.php
Labels: none

feat(velox): normalize RoadRunner ref and order TOML sections
  src/Module/Config/Schema/Action/Velox.php
  src/Module/Velox/Internal/Config/Pipeline/TomlData.php
  tests/Unit/Module/Velox/Internal/Config/Pipeline/TomlDataTest.php
Labels: tests

feat(velox): replace binary-version with roadrunner-ref in configuration and documentation
  README-es.md
  README-ru.md
  README-zh.md
  README.md
  dload.xsd
  src/Module/Config/Schema/Action/Velox.php
  src/Module/Velox/ApiClient.php
  src/Module/Velox/Internal/Client/BuildRoadRunner.php
  src/Module/Velox/Internal/Config/Pipeline/Processor/BuildMixinsProcessor.php
  src/Module/Velox/Internal/Config/Pipeline/Processor/RemoteApiProcessor.php
  src/Module/Velox/Internal/Config/Pipeline/TomlData.php
Labels: documentation

docs(velox): update action attribute descriptions in README files for clarity and accuracy
  README-es.md
  README-ru.md
  README-zh.md
  README.md
Labels: documentation

feat(velox): add debug flag to configuration examples and update version references in README files
  README-es.md
  README-ru.md
  README-zh.md
  README.md
  dload.xsd
  src/Module/Config/Schema/Action/Velox.php
  src/Module/Velox/Internal/Config/Pipeline/Processor/BaseTemplateProcessor.php
  src/Module/Velox/Internal/Config/Pipeline/Processor/BuildMixinsProcessor.php
Labels: documentation

chore(velox): update psalm baseline and enhance configuration classes with detailed docblocks
  psalm-baseline.xml
  src/Module/Velox/Internal/Config/Pipeline/ConfigContext.php
  src/Module/Velox/Internal/Config/Pipeline/Processor/LocalFileProcessor.php
  src/Module/Velox/Internal/Config/Pipeline/TomlData.php
  src/Module/Velox/Internal/ConfigBuilder.php
  tests/Unit/Module/Velox/Internal/Config/Pipeline/TomlDataTest.php
Labels: tests

chore(1.x): release 1.5.0
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.5.0 (#64)
  CHANGELOG.md
  resources/version.json
Labels: documentation

fix: Consider stability, OS, and architecture flags in `get` command
  src/Command/Get.php
Labels: none

chore: add `mago` binary into registry
  resources/software.json
Labels: none

fix: Better validation of flags for `get` command
  src/Command/Get.php
Labels: none

feat: add version syntax support for software packages in `get` command
  src/Command/Get.php
Labels: none

docs(readme): describe the new version syntax in `get` command
  README-es.md
  README-ru.md
  README-zh.md
  README.md
Labels: documentation

chore: add guidelines for Claude Code context
  CLAUDE.md
Labels: documentation

chore(1.x): release 1.6.0
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.6.0 (#69)
  CHANGELOG.md
  resources/version.json
Labels: documentation

fix: Process `--path` flag in the `get` command
  src/Command/Get.php
Labels: none

fix: Process `--path` flag in the `get` command (#70)
  src/Command/Get.php
Labels: none

chore(1.x): release 1.6.1
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.6.1 (#71)
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore: add submodule for documentation guidelines
  .gitmodules
  docs/guidelines/how-to-translate-readme-docs.md
  docs/guidelines/how-to-write-console-command.md
  docs/guidelines/how-to-write-php-code-best-practices.md
  docs/guidelines/how-to-write-tests.md
Labels: none

chore: update logo
  resources/logo.svg
Labels: none

chore(1.x): release 1.6.2
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore: update logo
  resources/logo.svg
Labels: none

ci: upgrade actions/checkout from v4 to v5 in workflow files
  .github/workflows/build-phar-release.yml
  .github/workflows/buld-bin-release.yml
  .github/workflows/coding-standards.yml
  .github/workflows/security.yml
  .github/workflows/static-analysis.yml
  .github/workflows/testing.yml
Labels: maintenance

chore: optimize metafiles (use common ones from the organization)
  .github/FUNDING.yml
  .github/pull_request_template.md
Labels: documentation, maintenance

ci: update release token
  .github/workflows/build-phar-release.yml
  .github/workflows/buld-bin-release.yml
  .github/workflows/create-release.yml
Labels: maintenance

refactor: use `internal/destroy` package and its interface instead of local internal one
  composer.json
  composer.lock
  src/Module/Downloader/Downloader.php
  src/Module/Repository/Internal/GitHub/GitHubAsset.php
  src/Module/Repository/Internal/GitHub/GitHubRelease.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
  src/Service/Container.php
  src/Service/Destroyable.php
Labels: none

docs: update logo display in README for better alignment and visibility
  README.md
Labels: documentation

fix-force-option
  src/Module/Common/FileSystem/FS.php
  tests/Acceptance/DLoadTest.php
Labels: tests

fix: overwrite files by default in FS helper; fix --force flag (#76)
  src/Module/Common/FileSystem/FS.php
  tests/Acceptance/DLoadTest.php
Labels: tests

chore(1.x): release 1.6.2
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.6.2 (#75)
  CHANGELOG.md
  resources/version.json
Labels: documentation

fix: Process GitHub message with assoc content Like `{"message":"...","documentation_ur":"..."}`
  src/Module/Repository/Internal/GitHub/Api/Client.php
  src/Module/Repository/Internal/GitHub/Exception/GitHubRateLimitException.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
Labels: none

fix: Process GitHub message with assoc content (#78)
  src/Module/Repository/Internal/GitHub/Api/Client.php
  src/Module/Repository/Internal/GitHub/Exception/GitHubRateLimitException.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
Labels: none

chore(1.x): release 1.6.3
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.6.3 (#79)
  CHANGELOG.md
  resources/version.json
Labels: documentation

refactor(Velox): Use TOML library to work with Velox config
  composer.json
  composer.lock
  src/Module/Velox/Internal/Config/Pipeline/Processor/BaseTemplateProcessor.php
  src/Module/Velox/Internal/Config/Pipeline/TomlData.php
  tests/Unit/Module/Velox/Internal/Config/Pipeline/TomlDataTest.php
Labels: tests

.github/labeler.yml:

---

# this file is for the labeler workflow job
# Documentation https://github.com/marketplace/actions/labeler

"bug":
  - head-branch: ['^bug', '^fix', 'bug', 'fix']

"enhancement":
  - head-branch: ['^feature', '^feat', 'feature']

"documentation":
  - changed-files:
      - any-glob-to-any-file: ['.github/*.md', './*.md']

"maintenance":
  - changed-files:
      - any-glob-to-any-file: ['.github/**/*']

"tests":
  - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'phpunit*', 'psalm*']

...
