Repository php-internal/dload, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, tests

.github/labeler.yml:

---

# this file is for the labeler workflow job
# Documentation https://github.com/marketplace/actions/labeler

"bug":
  - head-branch: ['^bug', '^fix', 'bug', 'fix']

"enhancement":
  - head-branch: ['^feature', '^feat', 'feature']

"documentation":
  - changed-files:
      - any-glob-to-any-file: ['.github/*.md', './*.md']

"maintenance":
  - changed-files:
      - any-glob-to-any-file: ['.github/**/*']

"tests":
  - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'phpunit*', 'psalm*']

...

feat: support macos operation system
  src/Module/Common/OperatingSystem.php
  tests/Unit/Module/Common/ArchitectureTest.php
  tests/Unit/Module/Common/OperatingSystemTest.php
Labels: tests

feat: support macos operation system (#98)
  src/Module/Common/OperatingSystem.php
  tests/Unit/Module/Common/ArchitectureTest.php
  tests/Unit/Module/Common/OperatingSystemTest.php
Labels: tests

chore(1.x): release 1.10.0
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.10.0 (#99)
  CHANGELOG.md
  resources/version.json
Labels: documentation

feat: Support `.gz` archives
  src/Module/Archive/ArchiveFactory.php
  src/Module/Archive/Internal/GzArchive.php
  tests/Acceptance/DLoadTest.php
Labels: tests

ci: Add PHP 8.5
  .github/workflows/testing.yml
Labels: maintenance

feat: Validate file extensions in renaming logic
  src/DLoad.php
Labels: none

chore(1.x): release 1.11.0
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.11.0 (#103)
  CHANGELOG.md
  resources/version.json
Labels: documentation

refactor: Add more debug info into GitHub API implementation
  src/Module/HttpClient/Internal/NyholmFactoryImpl.php
  src/Module/Repository/Internal/GitHub/Api/RepositoryApi.php
  src/Module/Repository/Internal/GitHub/Factory.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
Labels: none

feat: Add Buggregator server into the registry
  resources/software.json
Labels: none

refactor: Remove symfony/http-client 4 and 5 from composer.json
  composer.json
  composer.lock
Labels: none

feat: Add Buggregator server into the registry (#105)
  composer.json
  composer.lock
  resources/software.json
Labels: none

chore(1.x): release 1.12.0
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.12.0 (#104)
  CHANGELOG.md
  resources/version.json
Labels: documentation

feat: Add Buf to software registry
  resources/software.json
Labels: none

chore(1.x): release 1.13.0
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.13.0 (#106)
  CHANGELOG.md
  resources/version.json
Labels: documentation

docs: Add AI skills
  composer.json
  composer.lock
  skills/dload-fetch-tool/SKILL.md
Labels: none

fix(show): respect destination and extract-path when locating binaries
  src/Command/Show.php
Labels: none

chore(1.x): release 1.13.1
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.13.1 (#107)
  CHANGELOG.md
  resources/version.json
Labels: documentation

ci(release): update Vibe Index badge in documentation
  .github/workflows/create-release.yml
  README-es.md
  README-ru.md
  README-zh.md
  README.md
Labels: documentation, maintenance

chore: Cleanup
  .gitmodules
Labels: none

ci: update actions/checkout to v7
  .github/workflows/build-phar-release.yml
  .github/workflows/buld-bin-release.yml
  .github/workflows/coding-standards.yml
  .github/workflows/create-release.yml
  .github/workflows/security.yml
  .github/workflows/static-analysis.yml
  .github/workflows/testing.yml
Labels: maintenance

ci: bump docker actions and unify action-gh-release
  .github/workflows/build-phar-release.yml
  .github/workflows/buld-bin-release.yml
Labels: maintenance

feat(registry): add YiiPress engine
  resources/software.json
Labels: none

ci: remove markdown linter from CI, Makefile and config
  .github/workflows/coding-standards.yml
  .markdownlint.json
  Makefile
Labels: maintenance

fix(ci): push Vibe Index badge to release PR via action auto-commit
  .github/workflows/create-release.yml
Labels: maintenance

fix(ci): push Vibe Index badge to PR branch with authenticated git
  .github/workflows/create-release.yml
Labels: maintenance

chore(1.x): release 1.14.0
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.14.0 (#108)
  CHANGELOG.md
  README-es.md
  README-ru.md
  README-zh.md
  README.md
  resources/version.json
Labels: documentation

fix(schema): remove unimplemented version-path attribute and velox download type
  dload.xsd
  skills/dload-fetch-tool/SKILL.md
Labels: none

fix(get): return a non-zero exit code when a download fails
  README.md
  psalm-baseline.xml
  src/Command/Get.php
  src/DLoad.php
  src/Module/Downloader/Downloader.php
  src/Module/Downloader/Exception/DownloadFailed.php
  src/Module/Downloader/Exception/NothingExtracted.php
  src/Module/Downloader/Internal/Diagnostics/DownloadDiagnostics.php
  src/Module/Downloader/Internal/Diagnostics/ReleaseAttempt.php
  src/Module/Downloader/Internal/Diagnostics/RepositoryAttempt.php
  src/Module/Downloader/Internal/DownloadContext.php
  src/Module/Repository/Exception/AccessDeniedException.php
  src/Module/Repository/Exception/ApiException.php
  src/Module/Repository/Exception/AuthenticationException.php
  src/Module/Repository/Exception/RateLimitException.php
  src/Module/Repository/Exception/RepositoryException.php
  src/Module/Repository/Exception/RepositoryNotFoundException.php
  src/Module/Repository/Internal/GitHub/Api/Client.php
  src/Module/Repository/Internal/GitHub/Api/RepositoryApi.php
  src/Module/Repository/Internal/GitHub/Api/ResponseValidator.php
  src/Module/Repository/Internal/GitHub/Exception/GitHubRateLimitException.php
  src/Module/Repository/Internal/GitHub/GitHubAsset.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
  src/Module/Repository/Internal/GitLab/Api/Client.php
  src/Module/Repository/Internal/GitLab/Api/RepositoryApi.php
  src/Module/Repository/Internal/GitLab/Api/ResponseValidator.php
  src/Module/Repository/Internal/GitLab/Exception/GitLabRateLimitException.php
  src/Module/Repository/Internal/GitLab/GitLabAsset.php
  src/Module/Repository/Internal/GitLab/GitLabRepository.php
  src/Module/Repository/Internal/ResponseValidator.php
  src/Module/Task/Manager.php
  tests/Unit/Module/Downloader/Exception/NothingExtractedTest.php
  tests/Unit/Module/Downloader/Internal/Diagnostics/DownloadDiagnosticsTest.php
  tests/Unit/Module/Repository/Internal/GitHub/Api/ClientTest.php
  tests/Unit/Module/Repository/Internal/GitHub/Api/ResponseValidatorTest.php
  tests/Unit/Module/Repository/Internal/GitHub/Stub/ClientStub.php
  tests/Unit/Module/Repository/Internal/GitLab/Api/ResponseValidatorTest.php
  tests/Unit/Module/Repository/Stub/ResponseStub.php
Labels: documentation, tests

fix(repository): report rate limits that interrupt release pagination
  src/Command/Get.php
  src/Module/Downloader/Downloader.php
  src/Module/Downloader/Internal/Diagnostics/ReleaseAttempt.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
  src/Module/Repository/Internal/GitLab/Factory.php
  src/Module/Repository/Internal/GitLab/GitLabRepository.php
  src/Module/Repository/Internal/ResponseValidator.php
  tests/Unit/Module/Downloader/Internal/Diagnostics/DownloadDiagnosticsTest.php
  tests/Unit/Module/Repository/Internal/GitHub/Api/ResponseValidatorTest.php
Labels: tests

fix(get): return a non-zero exit code when a download fails (#110)
  README.md
  psalm-baseline.xml
  src/Command/Get.php
  src/DLoad.php
  src/Module/Downloader/Downloader.php
  src/Module/Downloader/Exception/DownloadFailed.php
  src/Module/Downloader/Exception/NothingExtracted.php
  src/Module/Downloader/Internal/Diagnostics/DownloadDiagnostics.php
  src/Module/Downloader/Internal/Diagnostics/ReleaseAttempt.php
  src/Module/Downloader/Internal/Diagnostics/RepositoryAttempt.php
  src/Module/Downloader/Internal/DownloadContext.php
  src/Module/Repository/Exception/AccessDeniedException.php
  src/Module/Repository/Exception/ApiException.php
  src/Module/Repository/Exception/AuthenticationException.php
  src/Module/Repository/Exception/RateLimitException.php
  src/Module/Repository/Exception/RepositoryException.php
  src/Module/Repository/Exception/RepositoryNotFoundException.php
  src/Module/Repository/Internal/GitHub/Api/Client.php
  src/Module/Repository/Internal/GitHub/Api/RepositoryApi.php
  src/Module/Repository/Internal/GitHub/Api/ResponseValidator.php
  src/Module/Repository/Internal/GitHub/Exception/GitHubRateLimitException.php
  src/Module/Repository/Internal/GitHub/GitHubAsset.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
  src/Module/Repository/Internal/GitLab/Api/Client.php
  src/Module/Repository/Internal/GitLab/Api/RepositoryApi.php
  src/Module/Repository/Internal/GitLab/Api/ResponseValidator.php
  src/Module/Repository/Internal/GitLab/Exception/GitLabRateLimitException.php
  src/Module/Repository/Internal/GitLab/Factory.php
  src/Module/Repository/Internal/GitLab/GitLabAsset.php
  src/Module/Repository/Internal/GitLab/GitLabRepository.php
  src/Module/Repository/Internal/ResponseValidator.php
  src/Module/Task/Manager.php
  tests/Unit/Module/Downloader/Exception/NothingExtractedTest.php
  tests/Unit/Module/Downloader/Internal/Diagnostics/DownloadDiagnosticsTest.php
  tests/Unit/Module/Repository/Internal/GitHub/Api/ClientTest.php
  tests/Unit/Module/Repository/Internal/GitHub/Api/ResponseValidatorTest.php
  tests/Unit/Module/Repository/Internal/GitHub/Stub/ClientStub.php
  tests/Unit/Module/Repository/Internal/GitLab/Api/ResponseValidatorTest.php
  tests/Unit/Module/Repository/Stub/ResponseStub.php
Labels: documentation, tests

chore(1.x): release 1.14.1
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.14.1 (#109)
  CHANGELOG.md
  README-es.md
  README-ru.md
  README-zh.md
  README.md
  resources/version.json
Labels: documentation

ci(release): create the release PR with GITHUB_TOKEN instead of a PAT
  .github/workflows/build-phar-release.yml
  .github/workflows/buld-bin-release.yml
  .github/workflows/create-release.yml
Labels: maintenance
