Repository php-internal/dload, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, tests

chore(1.x): release 1.1.0
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.1.0 (#38)
  CHANGELOG.md
  resources/version.json
Labels: documentation

feat: remove `Priority` stability level and adjust weights
  src/Module/Common/Stability.php
  tests/Unit/Module/Common/StabilityTest.php
Labels: tests

feat: enhance Stability class with validation and parsing methods
  src/Module/Common/Stability.php
  src/Module/Repository/Internal/Release.php
  tests/Unit/Module/Common/StabilityTest.php
Labels: tests

feat: add VersionConstraint class for parsing and handling version requirements
  src/Module/Common/VersionConstraint.php
  tests/Unit/Module/Common/VersionConstraintTest.php
Labels: tests

feat(binary): add matching of suffixes and stability
  src/Module/Binary/Binary.php
  src/Module/Binary/Internal/BinaryHandle.php
  src/Module/Binary/Internal/VersionResolver.php
  src/Module/Binary/Internal/VersionString.php
  src/Module/Common/Stability.php
  tests/Unit/Module/Binary/Internal/VersionResolverTest.php
Labels: tests

feat(binary): refactor version handling and rename methods for clarity
  src/Command/Show.php
  src/DLoad.php
  src/Module/Binary/Binary.php
  src/Module/Binary/Internal/BinaryHandle.php
  src/Module/Binary/Internal/VersionResolver.php
  src/Module/Binary/Version.php
  tests/Unit/Module/Common/StabilityTest.php
Labels: tests

feat(version): separate a new module Version
  src/DLoad.php
  src/Module/Binary/Binary.php
  src/Module/Binary/Internal/BinaryHandle.php
  src/Module/Repository/ReleaseInterface.php
  src/Module/Version/Constraint.php
  tests/Unit/Module/Version/ConstraintTest.php
Labels: tests

feat(binary): rename Version to BinaryVersion and refactor version handling
  src/Module/Binary/Binary.php
  src/Module/Binary/BinaryVersion.php
  src/Module/Binary/Internal/BinaryHandle.php
  src/Module/Binary/Internal/BinaryProviderImpl.php
  src/Module/Binary/Version.php
  src/Module/Version/Version.php
  tests/Unit/Module/Binary/BinaryVersionTest.php
Labels: tests

tests(version): cover Version DTO
  src/Module/Version/Version.php
  tests/Unit/Module/Version/VersionTest.php
Labels: tests

feat(version): enhance version constraint handling and refactor related methods
  src/DLoad.php
  src/Module/Binary/Binary.php
  src/Module/Binary/Internal/BinaryHandle.php
  src/Module/Common/Stability.php
  src/Module/Downloader/Task/DownloadResult.php
  src/Module/Repository/Collection/ReleasesCollection.php
  src/Module/Repository/Internal/GitHub/GitHubRelease.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
  src/Module/Repository/Internal/Release.php
  src/Module/Repository/ReleaseInterface.php
  src/Module/Version/Constraint.php
  src/Module/Version/Version.php
  tests/Unit/Module/Common/StabilityTest.php
  tests/Unit/Module/Repository/Internal/GitHub/GitHubRepositoryLazyLoadingTest.php
  tests/Unit/Module/Repository/ReleasesCollectionTest.php
  tests/Unit/Module/Version/ConstraintTest.php
  tests/Unit/Module/Version/VersionTest.php
Labels: tests

feat(version): integrate Constraint class for version filtering in releases
  src/Module/Downloader/Downloader.php
  src/Module/Repository/Collection/ReleasesCollection.php
  src/Module/Repository/Internal/Release.php
  src/Module/Repository/ReleaseInterface.php
  tests/Unit/Module/Repository/ReleasesCollectionTest.php
  tests/Unit/Module/Repository/Stub/ReleaseStub.php
Labels: tests

docs(README): update versioning section to include advanced constraints and development workflows
  README.md
Labels: documentation

feat(version): update stability handling to use Preview for suffixes
  README.md
  src/Module/Version/Version.php
  tests/Unit/Module/Repository/AssetsCollectionTest.php
  tests/Unit/Module/Version/VersionTest.php
Labels: documentation, tests

style(php-cs-fixer): fix coding standards
  src/Module/Binary/Binary.php
  src/Module/Binary/Internal/BinaryHandle.php
  src/Module/Repository/Internal/Release.php
  src/Module/Repository/ReleaseInterface.php
  src/Module/Version/Constraint.php
  tests/Unit/Module/Repository/AssetsCollectionTest.php
  tests/Unit/Module/Repository/Stub/ReleaseStub.php
Labels: tests

feat(version): constraint with suffix has Preview level by default
  README.md
  src/Module/Version/Constraint.php
  tests/Unit/Module/Version/ConstraintTest.php
Labels: documentation, tests

tests: add tests; fix psalm issues
  psalm-baseline.xml
  src/Module/Repository/Internal/GitHub/GitHubAsset.php
  src/Module/Repository/Internal/GitHub/GitHubRelease.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
  tests/Unit/Module/Common/StabilityTest.php
  tests/Unit/Module/Version/ConstraintTest.php
Labels: tests

tests: hotfix
  src/Module/Binary/BinaryVersion.php
  tests/Unit/Module/Version/ConstraintTest.php
Labels: tests

chore(1.x): release 1.2.0
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.2.0 (#42)
  CHANGELOG.md
  resources/version.json
Labels: documentation

fix(dload): increase memory limit and adjust error reporting settings
  bin/dload
Labels: none

fix(dload): increase memory limit and adjust error reporting settings (#43)
  bin/dload
Labels: none

chore(1.x): release 1.2.1
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.2.1 (#44)
  CHANGELOG.md
  resources/version.json
Labels: documentation

fix(dload): remove deprecated E_STRICT constant
  bin/dload
Labels: none

fix(dload): remove deprecated E_STRICT constant (#45)
  bin/dload
Labels: none

chore(1.x): release 1.2.2
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.2.2 (#46)
  CHANGELOG.md
  resources/version.json
Labels: documentation

fix(downloader): fix infinite releases rolling
  src/DLoad.php
  src/Module/Downloader/Downloader.php
Labels: none

fix(downloader): add NotFound exception; add a different behavior for the new exception
  src/Module/Downloader/Downloader.php
  src/Module/Downloader/Exception/NotFound.php
Labels: none

fix(downloader): create temp dir if not exists
  src/Module/Downloader/Downloader.php
Labels: none

refactor(downloader): use `Path` DTO for downloading destination
  src/Module/Common/FileSystem/Path.php
  src/Module/Downloader/Downloader.php
Labels: none

refactor(downloader): check temp dir before downloading
  src/Module/Downloader/Downloader.php
  src/Module/Downloader/Internal/DownloadContext.php
Labels: none

chore(1.x): release 1.2.3
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.2.3 (#49)
  CHANGELOG.md
  resources/version.json
Labels: documentation

refactor(dload.xsd): enhance documentation for version attribute and schema structure
  dload.xsd
Labels: none

feat(configs): add `format` attribute for preferred file format in `Download` action
  dload.xsd
  src/Module/Common/Config/Action/Download.php
Labels: none

feat(downloader): add format filtering for asset downloads
  src/Module/Downloader/Downloader.php
  src/Module/Repository/Collection/AssetsCollection.php
Labels: none

feat: copy downloaded file as is if no extraction rules were provided
  dload.xml
  src/DLoad.php
  src/Module/Archive/Internal/NullArchive.php
Labels: none

tests: add acceptance tests for DLoad class download workflow
  phpunit.xml.dist
  tests/Acceptance/DLoadTest.php
Labels: tests

.github/labeler.yml:

---

# this file is for the labeler workflow job
# Documentation https://github.com/marketplace/actions/labeler

"bug":
  - head-branch: ['^bug', '^fix', 'bug', 'fix']

"enhancement":
  - head-branch: ['^feature', '^feat', 'feature']

"documentation":
  - changed-files:
      - any-glob-to-any-file: ['.github/*.md', './*.md']

"maintenance":
  - changed-files:
      - any-glob-to-any-file: ['.github/**/*']

"tests":
  - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'phpunit*', 'psalm*']

...
