Repository php-internal/dload, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, tests

docs: update readme
  README.md
  psalm-baseline.xml
Labels: documentation, tests

docs: cover Info with docs
  src/Info.php
Labels: none

feat: add NullArchive as a fallback
  src/Module/Archive/ArchiveFactory.php
  src/Module/Archive/Internal/Archive.php
  src/Module/Archive/Internal/NullArchive.php
  src/Module/Archive/Internal/PharAwareArchive.php
  tests/Integration/Module/Archive/ArchiveIntegrationTest.php
  tests/Unit/Module/Archive/API/ArchiveFactoryTest.php
  tests/Unit/Module/Archive/Internal/NullArchiveTest.php
  tests/Unit/Module/Archive/Internal/PharAwareArchiveTest.php
Labels: tests

feat: download not archived files
  src/Module/Downloader/Downloader.php
Labels: none

feat: add XPathEmbed config injection
  src/Module/Common/Internal/Attribute/XPathEmbed.php
  src/Module/Common/Internal/Injection/ConfigLoader.php
Labels: none

chore: move `binary` option into embedded config DTO
  dload.xml
  resources/software.json
  src/DLoad.php
  src/Module/Common/Config/Embed/Binary.php
  src/Module/Common/Config/Embed/Software.php
  src/Module/Downloader/Downloader.php
  src/Module/Downloader/Internal/BinaryExistenceChecker.php
Labels: none

feat: add param `extract-path` to download action
  README.md
  src/DLoad.php
  src/Module/Common/Config/Action/Download.php
  src/Module/Common/Input/Destination.php
Labels: documentation

feat: non-binary files can be unpacked without arch/os checks
  dload.xml
  src/Module/Downloader/Downloader.php
Labels: none

docs: update readme
  README.md
  src/DLoad.php
Labels: documentation

style(php-cs-fixer): fix coding standards
  src/DLoad.php
Labels: none

chore: update psalm baseline
  dload.xml
  psalm-baseline.xml
Labels: tests

chore: update .gitattributes
  .gitattributes
Labels: none

feat: add filesystem Path DTO
  src/Module/Common/FileSystem/Path.php
  tests/Unit/Module/Common/FileSystem/PathTest.php
Labels: tests

feat: add binary version checking
  resources/software.json
  src/Bootstrap.php
  src/DLoad.php
  src/Module/Binary/Binary.php
  src/Module/Binary/BinaryProvider.php
  src/Module/Binary/Exception/BinaryException.php
  src/Module/Binary/Exception/BinaryExecutionException.php
  src/Module/Binary/Exception/VersionExtractionException.php
  src/Module/Binary/Internal/BinaryExecutor.php
  src/Module/Binary/Internal/BinaryInfo.php
  src/Module/Binary/Internal/BinaryProviderImpl.php
  src/Module/Binary/Internal/VersionComparator.php
  src/Module/Binary/Internal/VersionResolver.php
  src/Module/Common/FileSystem/Path.php
  src/Service/Logger.php
Labels: none

feat: add `dload show` command
  bin/dload
  resources/software.json
  src/Command/Base.php
  src/Command/Show.php
  src/Module/Binary/Internal/BinaryInfo.php
Labels: none

chore: add `--all` flag for `show` command add Trap in the software list
  README.md
  resources/software.json
  src/Command/Show.php
Labels: documentation

chore: fix psalm issues
  psalm-baseline.xml
  psalm.xml
  src/Command/Show.php
  src/Module/Binary/BinaryProvider.php
Labels: tests

ci: add binary building workflow
  .gitattributes
  .github/workflows/buld-bin-release.yml
  Dockerfile
Labels: maintenance

chore: update changelog
  .github/workflows/buld-bin-release.yml
  CHANGELOG.md
Labels: documentation, maintenance

chore(master): release 1.1.0-alpha
  CHANGELOG.md
  resources/version.json
Labels: documentation

fix: add `composer/semver` as dependency
  .github/workflows/build-phar-release.yml
  composer.json
  composer.lock
  src/Command/Show.php
  src/Module/Binary/Internal/BinaryExecutor.php
  src/Module/Binary/Internal/BinaryHandle.php
  src/Module/Binary/Internal/BinaryProviderImpl.php
  src/Module/Binary/Internal/VersionComparator.php
  src/Module/Binary/Internal/VersionResolver.php
Labels: maintenance

chore: add XML schema for dload.xml
  README.md
  dload.xml
  dload.xsd
Labels: documentation

chore: add JSON schema for software.json
  resources/prompts.yaml
  resources/prompts/xml-json-schema-update.yaml
  resources/software.json
  resources/software.schema.json
  src/Module/Downloader/SoftwareCollection.php
Labels: none

chore: set build version to 1.0.0
  resources/version.json
Labels: none

chore: fix psalm issues, update metafiles
  .github/workflows/coding-standards.yml
  .github/workflows/create-release.yml
  .github/workflows/testing.yml
  composer.lock
  psalm-baseline.xml
  src/Module/Downloader/SoftwareCollection.php
Labels: maintenance, tests

fix: skip binary download if file exists and no version detected
  psalm-baseline.xml
  src/DLoad.php
Labels: tests

chore: use Composer's version comparator in `Binary::satisfies()`
  psalm-baseline.xml
  src/Module/Binary/Internal/BinaryHandle.php
  src/Module/Binary/Internal/BinaryProviderImpl.php
  src/Module/Binary/Internal/VersionComparator.php
Labels: tests

docs(readme): add Automatic Binary Downloads with Composer Update
  README.md
Labels: documentation

fix(binary): fix version checker for dolt and protoc
  README.md
  resources/software.json
  src/Module/Binary/Internal/VersionResolver.php
  tests/Unit/Module/Binary/Internal/VersionResolverTest.php
Labels: documentation, tests

chore(1.x): release 1.0.1
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.0.1 (#29)
  CHANGELOG.md
  resources/version.json
Labels: documentation

fix: remove script time limit
  README.md
  bin/dload
Labels: documentation

chore: add logging when files are unpacked
  CHANGELOG.md
  psalm-baseline.xml
  src/DLoad.php
  src/Module/Common/Config/Embed/Software.php
Labels: documentation, tests

chore(1.x): release 1.0.2
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(1.x): release 1.0.2 (#33)
  CHANGELOG.md
  resources/version.json
Labels: documentation

feat: add more stability markers
  src/Module/Common/Stability.php
Labels: none

chore: fix wrong `overwriting` message
  src/DLoad.php
Labels: none

feat: add `Path::parent()` method
  src/Module/Common/FileSystem/Path.php
  tests/Unit/Module/Common/FileSystem/PathTest.php
Labels: tests

feat: add `Stability::parse()` method
  src/Module/Common/Stability.php
  src/Module/Repository/Internal/Release.php
  tests/Unit/Module/Common/FileSystem/PathTest.php
  tests/Unit/Module/Common/StabilityTest.php
Labels: tests

chore: added tests from Composer
  src/Module/Common/Stability.php
  tests/Unit/Module/Common/StabilityTest.php
Labels: tests

.github/labeler.yml:

---

# this file is for the labeler workflow job
# Documentation https://github.com/marketplace/actions/labeler

"bug":
  - head-branch: ['^bug', '^fix', 'bug', 'fix']

"enhancement":
  - head-branch: ['^feature', '^feat', 'feature']

"documentation":
  - changed-files:
      - any-glob-to-any-file: ['.github/*.md', './*.md']

"maintenance":
  - changed-files:
      - any-glob-to-any-file: ['.github/**/*']

"tests":
  - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'phpunit*', 'psalm*']

...
