Repository php-internal/dload, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, tests

.github/labeler.yml:

---

# this file is for the labeler workflow job
# Documentation https://github.com/marketplace/actions/labeler

"bug":
  - head-branch: ['^bug', '^fix', 'bug', 'fix']

"enhancement":
  - head-branch: ['^feature', '^feat', 'feature']

"documentation":
  - changed-files:
      - any-glob-to-any-file: ['.github/*.md', './*.md']

"maintenance":
  - changed-files:
      - any-glob-to-any-file: ['.github/**/*']

"tests":
  - changed-files:
      - any-glob-to-any-file: ['tests/**/*', 'phpunit*', 'psalm*']

...

Add Container, Logger, ConfigInjector; expose Arch, OS and Stability enums
  LICENSE.md
  README.md
  bin/dload
  bin/dload.bat
  composer-require-checker.json
  composer.json
  composer.lock
  dload.xml
  src/Bootstrap.php
  src/Command/Get.php
  src/Module/Environment/Architecture.php
  src/Module/Environment/OperatingSystem.php
  src/Module/Environment/Stability.php
  src/Service/Config/ConfigAttribute.php
  src/Service/Config/ConfigLoader.php
  src/Service/Config/Env.php
  src/Service/Config/InputArgument.php
  src/Service/Config/InputOption.php
  src/Service/Config/PhpIni.php
  src/Service/Config/XPath.php
  src/Service/Container.php
  src/Service/Destroyable.php
  src/Service/Factoriable.php
  src/Service/Logger.php
  tests/Unit/InfoTest.php
Labels: documentation, tests

Add Repository abstraction
  README.md
  src/Module/Repository/AssetInterface.php
  src/Module/Repository/Internal/Asset.php
  src/Module/Repository/Internal/AssetsCollection.php
  src/Module/Repository/Internal/Collection.php
  src/Module/Repository/Internal/Release.php
  src/Module/Repository/Internal/ReleasesCollection.php
  src/Module/Repository/Internal/RepositoriesCollection.php
  src/Module/Repository/ReleaseInterface.php
  src/Module/Repository/RepositoryInterface.php
Labels: documentation

Add GithubRepository implementation
  composer.json
  composer.lock
  src/Module/Environment/Architecture.php
  src/Module/Environment/OperatingSystem.php
  src/Module/Repository/Internal/Asset.php
  src/Module/Repository/Internal/AssetsCollection.php
  src/Module/Repository/Internal/GitHub/GitHubAsset.php
  src/Module/Repository/Internal/GitHub/GitHubRelease.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
  src/Module/Repository/Internal/Release.php
  src/Module/Repository/Internal/ReleasesCollection.php
  src/Module/Repository/Internal/RepositoriesCollection.php
Labels: none

Prove that Github API works
  src/Command/Get.php
  src/Module/Environment/Architecture.php
  src/Module/Environment/OperatingSystem.php
  src/Module/Repository/Internal/AssetsCollection.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
Labels: none

Refactor files structure; extract Container interface
  composer.json
  src/Bootstrap.php
  src/Command/Get.php
  src/Module/Common/Architecture.php
  src/Module/Common/OperatingSystem.php
  src/Module/Common/Stability.php
  src/Module/Container/Attribute/Env.php
  src/Module/Container/Attribute/InputArgument.php
  src/Module/Container/Attribute/InputOption.php
  src/Module/Container/Attribute/PhpIni.php
  src/Module/Container/Attribute/XPath.php
  src/Module/Container/Internal/ConfigAttribute.php
  src/Module/Container/Internal/ConfigLoader.php
  src/Module/Container/Internal/Container.php
  src/Module/Repository/AssetInterface.php
  src/Module/Repository/Internal/Asset.php
  src/Module/Repository/Internal/AssetsCollection.php
  src/Module/Repository/Internal/GitHub/GitHubAsset.php
  src/Module/Repository/Internal/Release.php
  src/Module/Repository/Internal/ReleasesCollection.php
  src/Module/Repository/ReleaseInterface.php
  src/Service/Container.php
Labels: none

Refactor file structure; make Arch, OS and Stability configurable
  src/Bootstrap.php
  src/Command/Get.php
  src/Module/Common/Architecture.php
  src/Module/Common/Config/BuildInput.php
  src/Module/Common/Internal/Attribute/ConfigAttribute.php
  src/Module/Common/Internal/Attribute/Env.php
  src/Module/Common/Internal/Attribute/InputArgument.php
  src/Module/Common/Internal/Attribute/InputOption.php
  src/Module/Common/Internal/Attribute/PhpIni.php
  src/Module/Common/Internal/Attribute/XPath.php
  src/Module/Common/Internal/Container.php
  src/Module/Common/Internal/Injection/ConfigLoader.php
  src/Module/Common/OperatingSystem.php
  src/Module/Common/Stability.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
  src/Service/Factoriable.php
Labels: none

Add support for iterable XML blocks; preconfigure software registry
  dload.xml
  psalm.xml
  src/Command/Get.php
  src/Module/Common/Config/BuildInput.php
  src/Module/Common/Config/DestinationInput.php
  src/Module/Common/Config/Embed/File.php
  src/Module/Common/Config/Embed/Repository.php
  src/Module/Common/Config/Embed/Software.php
  src/Module/Common/Config/GitHubConfig.php
  src/Module/Common/Config/SoftwareRegistry.php
  src/Module/Common/Internal/Attribute/XPathEmbedList.php
  src/Module/Common/Internal/Injection/ConfigLoader.php
  src/Service/Factoriable.php
Labels: tests

style(php-cs-fixer): lint php files and fix coding standards
  src/Module/Common/Config/Embed/Repository.php
Labels: none

Implement Downloader that downloads assets
  composer.json
  composer.lock
  dload.xml
  src/Command/Get.php
  src/Module/Common/Config/Destination.php
  src/Module/Common/Config/DownloaderConfig.php
  src/Module/Common/Config/Embed/Repository.php
  src/Module/Common/Config/Embed/Software.php
  src/Module/Common/Config/SoftwareRegistry.php
  src/Module/Downloader/Downloader.php
  src/Module/Downloader/Internal/DownloadContext.php
  src/Module/Downloader/Progress.php
  src/Module/Downloader/SoftwareCollection.php
  src/Module/Downloader/Task.php
  src/Module/Downloader/TaskManager.php
  src/Module/Repository/AssetInterface.php
  src/Module/Repository/Internal/AssetsCollection.php
  src/Module/Repository/Internal/GitHub/Factory.php
  src/Module/Repository/Internal/GitHub/GitHubAsset.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
  src/Module/Repository/RepositoryProvider.php
  src/Service/Container.php
Labels: none

style(php-cs-fixer): lint php files and fix coding standards
  src/Command/Get.php
  src/Module/Downloader/SoftwareCollection.php
Labels: none

Separate DownloadTask
  src/Command/Get.php
  src/Module/Downloader/Downloader.php
  src/Module/Downloader/Progress.php
  src/Module/Downloader/Task.php
  src/Module/Downloader/Task/DownloadTask.php
  src/Module/Repository/Internal/GitHub/GitHubRelease.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
Labels: none

style(php-cs-fixer): lint php files and fix coding standards
  src/Module/Downloader/Internal/DownloadContext.php
Labels: none

Added Archive module; add code to download and extract files
  bin/dload
  dload.xml
  resources/version.json
  src/Command/Get.php
  src/Info.php
  src/Module/Archive/Archive.php
  src/Module/Archive/ArchiveFactory.php
  src/Module/Archive/Internal/Archive.php
  src/Module/Archive/Internal/PharArchive.php
  src/Module/Archive/Internal/PharAwareArchive.php
  src/Module/Archive/Internal/TarPharArchive.php
  src/Module/Archive/Internal/ZipPharArchive.php
  src/Module/Common/Config/Destination.php
  src/Module/Common/Config/Embed/Software.php
  src/Module/Downloader/Downloader.php
  src/Module/Downloader/Internal/DownloadContext.php
  src/Module/Downloader/Task/DownloadResult.php
  src/Module/Downloader/Task/DownloadTask.php
Labels: none

Polishing
  .gitignore
  resources/mock/roadrunner-2024.1.5-windows-amd64.zip
  src/Command/Get.php
  src/DLoad.php
  src/Module/Downloader/TaskManager.php
Labels: none

style(php-cs-fixer): lint php files and fix coding standards
  src/Command/Get.php
Labels: none

Fix found mistakes
  README.md
  src/Module/Archive/Internal/PharAwareArchive.php
  src/Module/Common/Architecture.php
  src/Module/Common/OperatingSystem.php
  src/Module/Downloader/Downloader.php
  src/Module/Repository/Internal/ReleasesCollection.php
  tests/Unit/Module/Common/ArchitectureTest.php
Labels: documentation, tests

Filter assets with unsupported archive format; add psalm baseline
  .phive/.gitignore
  .phive/phars.xml
  psalm-baseline.xml
  src/Module/Archive/ArchiveFactory.php
  src/Module/Downloader/Downloader.php
  src/Module/Repository/Collection/AssetsCollection.php
  src/Module/Repository/Collection/ReleasesCollection.php
  src/Module/Repository/Collection/RepositoriesCollection.php
  src/Module/Repository/Internal/GitHub/GitHubRelease.php
  src/Module/Repository/Internal/GitHub/GitHubRepository.php
  src/Module/Repository/Internal/Release.php
  src/Module/Repository/ReleaseInterface.php
  src/Module/Repository/RepositoryInterface.php
Labels: tests

ci: remove Discord notifications workflow
  .github/workflows/build-phar-release.yml
Labels: maintenance

chore: cleanup; add logo draft
  .gitattributes
  README.md
  box.json.dist
  resources/logo.svg
  src/Command/Get.php
Labels: documentation

feat: add `software` command
  README.md
  bin/dload
  src/Command/Base.php
  src/Command/Get.php
  src/Command/ListSoftware.php
  src/Module/Downloader/SoftwareCollection.php
Labels: documentation

style(php-cs-fixer): lint php files and fix coding standards
  src/Command/Base.php
Labels: none

feat: support custom XML config (`./dload.xml` by default); added cli option `config`
  README.md
  dload.xml
  resources/software.json
  src/Command/Base.php
  src/Command/Get.php
  src/Module/Common/Config/CustomSoftwareRegistry.php
  src/Module/Common/Config/Embed/File.php
  src/Module/Common/Config/Embed/Repository.php
  src/Module/Common/Config/Embed/Software.php
  src/Module/Common/Internal/Injection/ConfigLoader.php
  src/Module/Downloader/SoftwareCollection.php
Labels: documentation

chore: reorganize configs
  dload.xml
  resources/software.json
  src/Command/ListSoftware.php
  src/DLoad.php
  src/Module/Common/Architecture.php
  src/Module/Common/Config/CustomSoftwareRegistry.php
  src/Module/Common/Config/Downloader.php
  src/Module/Common/Config/Embed/File.php
  src/Module/Common/Config/Embed/Repository.php
  src/Module/Common/Config/Embed/Software.php
  src/Module/Common/Config/GitHub.php
  src/Module/Common/Input/Build.php
  src/Module/Common/Input/Destination.php
  src/Module/Common/OperatingSystem.php
  src/Module/Common/Stability.php
  src/Module/Downloader/Downloader.php
  src/Module/Downloader/SoftwareCollection.php
  src/Module/Repository/Internal/GitHub/Factory.php
Labels: none

feat: support `actions/download` option into dload.xml
  README.md
  dload.xml
  src/Command/Get.php
  src/Module/Common/Config/Action/Download.php
  src/Module/Common/Config/Actions.php
Labels: documentation

feat: support software version constraint in download actions
  README.md
  src/Command/Get.php
  src/DLoad.php
  src/Module/Common/Config/Action/Download.php
  src/Module/Common/Config/Actions.php
  src/Module/Downloader/Downloader.php
  src/Module/Downloader/Internal/DownloadContext.php
  src/Module/Repository/Collection/ReleasesCollection.php
  src/Module/Repository/Internal/GitHub/Factory.php
Labels: documentation

fix: better process informing; fix regex templates in software registry
  README.md
  dload.xml
  psalm-baseline.xml
  resources/software.json
  src/Command/Get.php
  src/DLoad.php
  src/Module/Downloader/Downloader.php
  src/Module/Downloader/TaskManager.php
  src/Service/Logger.php
Labels: documentation, tests

chore(master): release 0.2.0
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(master): release 0.2.0 (#4)
  CHANGELOG.md
  resources/version.json
Labels: documentation

fix: update min version of yiisoft/injector
  composer.json
Labels: none

fix: asset file extension detection
  src/Module/Repository/Collection/AssetsCollection.php
  tests/Unit/Module/Common/ArchitectureTest.php
  tests/Unit/Module/Common/OperatingSystemTest.php
Labels: tests

chore(master): release 0.2.1
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(master): release 0.2.1 (#8)
  CHANGELOG.md
  resources/version.json
Labels: documentation

fix: remove `SignalableCommandInterface` from the `get` command to be compatible with SF Console 4.x, 5.x; fix changelog and program version
  CHANGELOG.md
  bin/dload
  src/Command/Get.php
Labels: documentation

fix: remove `SignalableCommandInterface` from the `get` command to be compatible with SF Console 4.x, 5.x; fix changelog and program version (#9)
  CHANGELOG.md
  bin/dload
  src/Command/Get.php
Labels: documentation

chore(master): release 0.2.2
  CHANGELOG.md
  resources/version.json
Labels: documentation

chore(master): release 0.2.2 (#10)
  CHANGELOG.md
  resources/version.json
Labels: documentation

feat: add `protoc` and `protoc-gen-php-grpc` in the registry
  resources/software.json
  src/Module/Common/Architecture.php
  src/Module/Common/OperatingSystem.php
  tests/Unit/Module/Common/ArchitectureTest.php
  tests/Unit/Module/Common/OperatingSystemTest.php
Labels: tests

feat: add `tigerbeetle` in the registry
  resources/software.json
  src/Module/Repository/Internal/GitHub/GitHubRelease.php
Labels: none

chore: update dependencies
  composer.lock
Labels: none

style(php-cs-fixer): lint php files and fix coding standards
  src/Module/Repository/Internal/GitHub/GitHubRelease.php
Labels: none
